body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navBar{
    display: flex;
    justify-content: center;
    
}

.ctrl{
    margin-top: -40px;
    width: 101.3%;
    margin-left: -8px;
}

a{
    text-decoration: none;
    color: black;
}

.item{
    margin-right: 20px;
}

dl{
    position: absolute;
    top: 18rem;
    left: 1rem; 

}

h1{
    font-weight: 700;
    color: aliceblue;
    font-size: -webkit-xxx-large;
}

dd{
    margin-inline-start: 134px;
    margin-top: -41px;
    font-size: larger;
    font-weight: lighter;
}

.header {
    text-align: center;
    background: #ffffff80;
    font-size: 14px;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    width: 100%;
    
  }

  h2{
      margin-top: 3rem;
  }

  .p-img{
    display: flex;
    padding: 1rem;
  }

  .p1{
    margin: 1rem;
  }

  .figgrp{
    margin-inline-start: 0;
  }

  .imgswork{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

  }

  .figure{
    display: contents;
    margin: 1rem;
  }

  figure{
      display: flex;
      flex-direction: column;
      margin: 1rem;
  }

  #contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }

  footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }

 

  